{
  "plugins": [
    {
      "name": "basisjs-tools-babel-plugin",
      "options": {
        "presets": [
          "es2015"
        ]
      },
      "ignore": [
        "node_modules/**"
      ]
    }
  ],
  "build": {
    "file": "./index.html",
    "output": "build"
  },
  "server": {
    "rewrite": {
      "^/api/(.*)$": "http://localhost:9000/$1 [P, QSA]"
    }
  }
}
