<b:style src="./item.css" ns="my"/>

<div class="input-group my:item">
    <input type="text" class="form-control input-lg" value="{name}" event-input="input">
    <span class="input-group-btn">
        <button class="btn btn-default btn-lg" event-click="onDelete">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </span>
</div>
